<p>The ELPAC suite comprises three tests: ELPAC ATC, ELPAC pilots, ELPAC level 6. The ELPAC test suite has been designed to assess the level of proficiency of air traffic controllers and pilots in the context of radio telephony communications and in accordance with the ICAO language proficiency requirements that were put in place in 2011.</p>

<p>The ELPAC ATC test assesses the full range of communicative tasks at ICAO levels 4 and 5 that an air traffic controller maybe confronted with in the OPS room or the ATC control tower. Air traffic controllers rely on ICAO standardized phraseology in everyday situations however in an unexpected situation they may have to use plain English and they may have to shift between using standardized phraseology and plain English in order to adequately deal with and support the flight crews.</p>

<p>The ELPAC pilot test has been designed to assess the ability of pilots to communicate effectively with air traffic control at ICAO levels 4 and 5. This means that pilots in the test have to demonstrate their ability to make requests, to report unexpected situations, to negotiate and to resolve potential misunderstandings.</p>